doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block sidebar 
      ul.sidebar-nav 
        li 
          a(href='/') Home
        li 
          a(href='/fragrances') All Fragrances
        li
          hr
        li 
          a(href='/brand/create') Create new Brand
        li 
          a(href='/fragrance/create') Create new Fragrance
    .content
      block content
