body {
  padding: 10px 20px;
  margin: 0;
  height: 100vh;

  display: flex;
  gap: 40px;

  font: 16px system-ui, sans-serif;
}

dt {
  font-size: 1.6em;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

dd {
  margin: 0;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea,
form select {
  margin-bottom: 8px;
  font: inherit;
}

form button {
  width: max-content;
  padding: 0.5em 1em;
  font: inherit;
}

.form-control {
  resize: vertical;
}

.sidebar-nav {
  padding-top: 20px;
  padding: 0;
  list-style: none;
  flex-shrink: 0;
}

.content {
  flex: 1;
}
